body{
	position: absolute;
	text-align: center;
	width: 100%;
	font-family: 'Special Elite', cursive;
	color: white;
	background-color: black;
/*	background-image: url('../images/xfile_bckgnd.png');
*/
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#container{
	width: 960px;
	margin: 0 auto;
}

#top_div{
/*	background-color: grey;
*/
	width: 960x;
	margin-bottom: 10px;
/*	border: 1px solid lightgrey;
*/
}

#left_div{
/*	background-color: darkgrey;
*/
	width: 245px;
	float: left;
	margin-right: 5px;
/*	border: 1px solid lightgrey;
*/
}

#mid_div{
/*	background-color: lightgrey;
*/
	width: 450px;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
/*	border: 1px solid lightgrey;
*/
}

#right_div{
/*	background-color: darkgrey;
*/
	width: 245px;
	float: left;
	margin-left: 5px;
/*	border: 1px solid lightgrey;
*/
}

.cell {
	width: 148px; 
	height: 148px; 
	float: left; 
/*	border: 1px solid lightgrey;
*/
background-color: rgba(49, 44, 44, 0.4);
background: rgba(49, 44, 44, 0.4);
color: rgba(49, 44, 44, 0.4);
}
			
.clearFix {
	clear:both;
}