<!DOCTYPE html>
<html ng-app="TTT">
<head>
	<title>Tic Tac Toe X-Files</title>
	<!-- Normalize CSS -->
    <link rel="stylesheet" src="https://normalize-css.googlecode.com/svn/trunk/normalize.min.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    	<!-- <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script> -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script> 
    <!-- App javascript -->
    <script src="js/main.js"></script>
    <!-- Google font -->
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
</head>

<!-- Angular controller in Body -->
<body ng-controller="TTTController" ng-model="gameContainer">
<div id="container">

	<div id="top_div">
		<h1>Tic Tac Spy</h1>
		<h2>{{gameContainer.gameSta}}</h2>
		<h3>Click White Spy or Black Spy to go first.</h3>
	</div>

	<!-- White Spy on left -->
	<div id="left_div">
		<span id="spyname" ng-click="currentPlayer('left')"><img src='images/white_spy_thumbnail.png'/>White Spy</span>
		<p>White Spy Score Counter: {{gameContainer.wsWinC}}</p>
		<div>{{showLeft}}</div>
	</div>

	<!-- Game Board -->
	<div id="mid_div">
		<div 	class="cell" 
				ng-repeat = "eachCell in gameContainer.boardArray" 
		 		ng-click = "playerPicks(eachCell)" 
		 		ng-class = "{wsclass: eachCell.status=='W', bsclass: eachCell.status =='B'}">
		 </div>
		 <button id="btn_style" ng-click="gameRestart()">Spy Again</button>
	</div>

	<!-- Black Spy on right -->
	<div id="right_div">
		<span id="spyname" ng-click="currentPlayer('right')">Black Spy<img src='images/black_spy_thumbnail.png'/></span>
		<p>Black Spy Score Counter: {{gameContainer.bsWinC}}</p>
		<div>{{showRight}}</div>
	</div>

</div>
</body>
</html>
